.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    border-radius: 8px;
    outline: none;
    max-width: 80%;
}

.modalContainer {
    text-align: center;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease;
}

.closeButton:hover {
    color: rgb(253, 85, 85);
    transform: scale(1.1);
    cursor: pointer;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    max-width: 100%;
        /* або інше значення, яке вам підходить */
        max-height: 80vh;
        /* або інше значення, яке вам підходить */
}

.imageDetails {
    padding: 20px;
}

.likes {
    margin-bottom: 10px;
    font-size: 16px;
}

.description {
    font-size: 14px;
    color: #555;
}